* {margin: 0;padding: 4px;box-sizing: border-box;}
div{display: block;}
body{padding: 10px;}
span{background-color: black;color: white;}
p{font-size: x-large;}
b{font-style:oblique ;}
img{width: 100%;padding: 0px;}
/* .imgalbum{width: 33.33%;}
.cntalbum{width: 66.66%;} */

@media screen and (min-width: 1000px) {
  h1 {text-align: center;font-style:inherit;font-size: 48px;}
  h2{text-align: center;font-style:oblique;font-size: xx-large;}
  footer{background-color: black;color: white;text-align: center;padding: 10px;width: 100%;height: 100%;}
  p {display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;}
  .pstory{text-align: center; font-style:unset ;font-size: 30px;background-color: black;color: white;}
  .content{display: flex;}
  .heading{margin: 30px auto;}
  .left{width: 66.66%;height: auto;}
  .right{width: 33.33%;height: auto;}
  .mystory{background-color:rgba(238, 236, 236, 0.982);padding: auto;margin: 20px;}
  .storyleft, .storyright {width: 49.99999%;}
}
@media screen and (max-width:999px) {
  h1 {text-align: center;font-style:inherit; font: size 48px;}
  h2 {text-align: center;font-style:oblique;font-size: x-large;}
  footer{background-color: black;color: white;text-align: center;padding: 10px;width: 100%;height:100%;}
  p{display: block;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;}
  .pstory{text-align: center; font-style:unset ;font-size: 30px;background-color: black;color: white;}
  .heading{margin: 5px auto;  }
  .left, .right{width: 100%;height: auto;}
  .mystory{background-color:rgba(238, 236, 236, 0.982);padding: auto;margin: 10px;}
  .storyleft, .storyright {width: 100%;}
}
/* @media screen and (max-width:200px){
  .imgalbum,.cntalbum{width: 100%}
} */
