
div{
  padding: 10px 20px 30px 5px;
  box-shadow: 150px;
}
b {
  font-size: 50px;
  font-style: inherit;
}

.flex-header {
  justify-content: center;
  padding: auto;
  display: flex;
 
  height: 100;
  line-height: 300px;
}

.flex-body {
  display:flex ;
  padding: auto;
  justify-content: space-around;
 
}

.flex-body > div {
 
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.img-style {
  float:left;
  max-width: 400px;
  height: auto;
  
}